/.ipynb_checkpoints/
/.mypy_cache/
/__pycache__/
/.history
/idwiki_word2vec_200.model
/ta/
/pujangga/word2vec_wiki_id
/.projectile
/data/anotated/.projectile
/data/anotated2.xml
/data_opini_v2(baru).txt
/document/
